*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: rgb(255, 85, 1);
  width: 100%;
  height: 5rem;
  font-family: roboto;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.div-chart{
  padding: 1rem;
}
