 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

/* barra deslizante fecha */
.barra-fecha{
  padding: 1rem;
}
.info-popup{
  background-color: rgba(255,255,255, 0.7);
  border: 0.5px solid rgb(219,219,219);
  border-radius: 8px;
  width: 400px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.35), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 5;
  position: absolute;
  font-size: 1.3rem;
  padding: 3px
}
.info-popup>div{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.info-popup-zoom0{
  left:500px;
  top:20px;
}

.info-popup-zoom{
  right:60px;
  top:90px;
}

.btn-park{
  width:50px;
  height:50px;
  background-color: rgb(149,198,46);
  border-radius:100%;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.35), 0 3px 6px rgba(0,0,0,0.23);
  outline:none;
  margin-right:26px;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  transform:scale(0);
  */
}
.btn-seleccion{
  background-color: #ff0000;
  width: 53px!important;
  height: 53px!important;
}
.btn-park:hover{
  background-color: rgb(255, 85, 1);
  width: 55px;
  height: 55px;
}
.btn-inactivo{
  background-color: #b6b6b6;
}
.btn-inactivo:hover{
  background-color: #b6b6b6;
  width:50px;
  height:50px;
}
.btn-eliminar1{
  right:130px;
  top:10px;
}
.btn-eliminar2{
  right:10px;
  top:10px;
}
.btn-mover1{
  right:250px;
  top:10px;
}
.btn-mover2{
  right:70px;
  top:10px;
}
.btn-actualizarFecha1{
  right:190px;
  top:10px;
}
.btn-actualizarFecha2{
  right:130px;
  top:10px;
}
.btn-lupa1{
  right:310px;
  top:10px;
}
.btn-lupa2{
  right:190px;
  top:10px;
}
.btn-gant{
  right:70px;
  top:10px;
}

.btn-session{
  right:10px;
  top: 10px;
}

.btn-park>img{
  width: 55%;
}
/* estilo de datetime picker */


.form-control-wrapper
{
  margin: 10px 20px;
}
code
{
  padding: 10px;
  background: #eee!important;
  display: block;
  color: #000;
}
code > p
{
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
}

.dtp div.dtp-date, .dtp div.dtp-time {
  background: #0d7ef3;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
  background: #0d7ef3;
  color: #fff;
  text-align: center;
  padding: 0.3em;
}

.dtp table.dtp-picker-days tr > td > a.selected {
  background: #f30dca;
  color: #fff;
}

.dtp .p10 > a {
  color: #cecece;
  text-decoration: none;
}

.dtp-buttons button{
  margin-right: 10px;
}

/* fin datetime picker */

/* canvas  */
/* canvas general */
.container{
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.container-canvas{
  height: 500px;
  margin-left: 0.5rem;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll
}
.width-70{
  width: 730px;
  height: 520px;
}
.width-100{
  width: 100%;
  height: 520px;
}
@media screen and (min-width: 1440px) {
  .width-70{
    width: 1040px;
    height: 740px;
  }
  .width-100{
    height: 800px;
  }
}


.cont-complemento{
  width: 25%;
}
.categorias{
  width: 100%;
  margin-left: 1rem;
  color: rgb(115,118,111);
  font-weight: bold;
  font-size: 2rem;
}
.title-cat, .cont-cat{
  width: 100%;
  padding: 0.5rem;
}
.title-cat{
  background:rgb(205,227,129);
}
.cont-cat{
  background:rgb(220,233,177);
}
.color-cat{
  width: 2rem;
  height: 2rem;
  display: inline-block;
}
.div-scroll-zoom{
  width: 2217px;
  height: 1598px;
}
.div-scroll{
  width: 700px;
  height: 500px;
}
.linea-cat{
  margin: 1rem;
}
.c1{
  background-color:rgb(255, 0, 0);
}
.c2{
  background-color:rgb(51, 204, 51);
}
.c3{
  background-color:rgb(0, 0, 255);
}
.c4{
  background-color:rgb(255, 255, 0);
}
.canvas1{
  position: absolute;
  top: 0;
  left: 0;
}
.img-park{
  position: relative;
}

footer{
  width: 100%;
  margin-top: 1rem;
  background-color: #000;
  padding: 1rem 0;
}
footer>div{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: #fff;
}
footer>div>img{
  width: 6%;
}


/* Edicion del bootstrap */
.form-group{
  margin-bottom: 0 !important;
  font-size: 1.3rem !important;
}
.caja-input{
  width: 100%;
}
.caja-input>div{
  width: 45%;
  display: inline-block;
}
.caja-input{
  display: flex;
  justify-content: space-around;
}
